<div class="home hero-unit">
  <h1><%= image_tag 'griio-logo.png' %></h1>
  <p>
  Griio is a magical way to view video content that's relevant to you.
  Just sign in below using Facebook and we'll start learning what you like!
  </p>
  <p>
  <%= link_to "Sign in with Facebook", web_facebook_path, class: 'btn btn-primary btn-large'  %>
  </p>
</div>
